﻿@model IEnumerable<ProjectNet.Models.Book>
@{
    ViewBag.Title = "Przeglądaj";
}

<h2>Lista naszych książek:</h2>

<p>
    @Html.ActionLink(" Pokaż wszystko ", "Index ")---
    @Html.ActionLink(" Sortowanie po tytule ", "OrderByTitle")---
    @Html.ActionLink(" Sortowanie po dacie ", "OrderByDate")---
</p>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Autor
            </th>
            <th>
                Gatunek
            </th>
            <th>
                Data wydania
            </th>
            <th>
                Opis
            </th>
            <th></th>
        </tr>

        @foreach (ProjectNet.Models.Book con in Model)
        {
            <tr>
                <td>
                    @con.Tytuł
                </td>
                <td>
                    @con.Autor
                </td>
                <td>
                    @con.Gatunek
                </td>
                <td>
                    @con.Data_wydania
                </td>
                <td>
                    @con.Opis
                </td>
            </tr>
        }

    </table>
}
