﻿@{
    ViewBag.Title = "Strona Główna";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="@Url.Content("~/Content/mystyle.css")" rel="stylesheet" type="text/css" />

<body class="#212121 grey lightrn-4">
    <div id="search" class="#f5f5f5 grey lighten-4 z-depth-5">
        <div id="myform">
            <div class="input-field">
                <input type="search" id="books">
                <label for="search">Wpisz tytuł</label>
            </div>
            <button class="btn red" id="sender">Wyszukaj</button>
        </div>
    </div>

    <div id="result">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="@Url.Content("~/Scripts/request.js")" type="text/javascript"></script>

</body>